{% extends "1_base.html" %} {% block title %} Resume {% endblock %}

{% block content %}
<div>
    <h1 style="margin-left: 0; font-size: 3.0em;"><strong>My Résumé</strong></h1>
    <p style="text-align: center;">Last Updated: 3/12/2025</p>
</div>
<div class="resume">
    <img src="{{ url_for('static', filename='images/MyResume.png') }}"/>
</div>
<div>
    <br/>
    <a href="{{ url_for('static', filename='files/MyResume.pdf') }}" download="MyResume.pdf">
        <button class="button-download">Download Resume</button>
    </a>
</div>
{% endblock %}
