{% extends "1_base.html" %} {% block title %} About Me {% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <figure>
            <img src="{{ url_for('static', filename='images/BoatWithVince.jpg') }}" alt="BoatWithVince.jpg">
            <figcaption>My brother Vince and I on our Dad's fishing boat (June 2023)</figcaption>
        </figure>
        <div class="text">
            <h2><strong>The Fam</strong>👨‍👦‍👧‍👩‍👧‍👦</h2>
            <p>
                Born and raised in Colorado, I am the oldest of four siblings. 
                We have two dogs, Daisy and Stuby, and a couple of chickens in the coop in our backyard.
                My mom is a school nurse and my dad is a contractor and a commerical fisherman in the summer.
            </p>
            <p>
                Since I started high school in 2016, I have been going to Alaska each summer to commercially fish for sockeye salmon 🐟.
                My dad runs his own boat, <i>The High Flyer</i>, a 32-foot aluminum bow-picker, in the Nushagak River just above the Aleutian Island chain.
                In the picture, Vince, my younger brother, and I have just finished setting out the 300-yard gillnet.
                Commercial fishing in Alaska has been a great experience for me, as it taught me how rewarding hard work can be.
                (It also helped that it paid enough to get me through college!) However, now that I have graduated, 
                my time on the boat has come to an end, and my younger sister Natalie has already replaced me 😢!
            </p>
        </div>
    </div>

    <div class="section">
        <div class="text">
            <h2><strong>My Journey in Computer Science</strong>👨‍💻</h2>
            <p>
                When I started my degree in Computer Science at Regis University, 
                all I really wanted was to make <i>Minecraft</i> mods and only
                went to school based on my parents advice. After getting past the 
                introductory courses, I my interested was peaked while taking classes
                like Computational Theory, Operating Systems, and Paradigms of Programming languages.
            </p>
            <p>
                Realizing Regis's Computer Science department was limited by its size, 
                I transferred to CU Boudler to
                gain access to a greater variety of courses and often with greater depth to them.
                At CU I took introductory courses in quatum computing, robotics, cyber-security,
                and bio-networking. However, the classes I enjoyed the most, system administration
                and data center computing, pretty much because (Super Computers == cool) evaluates to True.
            </p>
        </div>
        <figure>
            <img src="{{ url_for('static', filename='images/CUEngineeringExpo.jpg') }}" alt="CUEngineeringExpo.jpg">
            <figcaption>My senior project team and I presenting our design for software based PUF IDs (May 2024).</figcaption>
        </figure>
    </div>

    <div class="section">
        <figure>
            <img src="{{ url_for('static', filename='images/NRELWindTurbine.jpg') }}" alt="NRELWindTurbine.jpg">
            <figcaption>Me standing in front of the a decomissioned wind turbine blade at NREL's test site in Boulder, CO (July 2024)</figcaption>
        </figure>
        <div class="text">
            <p>
                During my senior year at CU Boulder, I worked with FESTO and senior project team to 
                develop a software based system for generating unique ids for a specific device based
                on irrepicable defects in the device's memory. The idea was to pull initialize binary
                values from the device's memory on start up and pplug them into a Physcially Unclonable Function(PUF)
                in order to generate a unique id only which could only be generated by the given device. Then it would
                send the id to a web based Solidity contract where a business or organization could grant the device 
                access to their service(s) or system(s). I learned a lot about planning and building, and 
                then re-planning when everything went wrong🔥📉🤔.
            </p>
            <p>
                Most recently, I interned with the National Renewable Energy Labratory through the SULI program.
                I worked within the Power Systems Engineering Center to help develop a LLM for analyzing power system
                question a utility company may face and assist the utility operators in addressing the problem. My
                mentor, Rishab Jain, and I focused on developing an multi-agent AI system where each AI agent was an
                expert in a specific domain, such as system maintance, cost analysis, and human comfort. The expert 
                agents then would bounce ideas off each other in an attempt to build a more robust and thought out
                solution.
            </p>
        </div>
    </div>

    <div class="section">
        <figure>
            <img src="{{ url_for('static', filename='images/GoodbyeGekko.gif') }}" alt="GoodbyeGekko.gif">
            <figcaption>A clip of me playing one of my favorite games Valorant</figcaption>
        </figure>
        <div class="text">
            <h2><strong>Interests</strong>🎮⛷️🍝</h2>
            <p>
                I love video games, especially FPS like <i>Valorant</i>, <i>Tarkov</i>, and <i>Arma</i>; however, I also have enjoyed playing
                various adventure and story games like <i>Cities: Skylines</i>, <i>It Takes Two</i>, and <i>STAR WARS Jedi: Fallen Order</i>.
                It's always fun to hop on an play with friends and kick some ass (😔 We lose a lot). 
            </p>
            <p>
                My other interests include building LEGOs, skiing with the fam, watching movies with friends,
                and eating pretty much anything(but especially Italian food).
            </p>
        </div>
    </div>
</div>
{% endblock %}
