{% extends "1_base.html" %} {% block title %} Contact Me {% endblock %}

{% block content %}
<div>
    <h1 style="margin-left: 0; font-size: 3.0em;"><strong>Contact Me</strong></h1>
</div>
<div style="width: 80%;">
    <form id="contact-form" method="POST">
        {{ form.hidden_tag() }} {# This includes the CSRF token automatically #}
        <div style="display: none; visibility: hidden;">
            <label for="name">Name*</label>
            {{ form.name(autocomplete="off", placeholder="First Name & Last Name") }}
        </div>
        <div>
            <label for="email">Email*</label>
            {{ form.email(autocomplete="off", placeholder="example@email.com") }}
        </div>
        <div>
            <label for="subject">Subject</label>
            {{ form.subject(autocomplete="off", placeholder="Reason for Message (optional)") }}
        </div>
        <div>
            {{ form.job_role(autocomplete="off", placeholder="Job Role") }}
        </div>
        <div>
            <label for="message">Message*</label>
            {{ form.message(autocomplete="off", rows=5, placeholder="Your message here...") }}
        </div>
        <div>
            <input type="hidden" id="g-recaptcha-response-v3" name="g-recaptcha-response-v3" value="token"/>
        </div>
        <div>
            {{ form.recaptcha() }}
            {{ form.submit() }}
        </div>
    </form>
</div>
<script>
    document.getElementById("contact-form").addEventListener("submit", function(event) {
        // Prevent the submit
        event.preventDefault();

        // Get the recatpcha verification token
        grecaptcha.enterprise.ready(async () => {
            const token = await grecaptcha.enterprise.execute(`{{ site_key }}`, {action: 'submit'});
            const recapthca_v3 = document.getElementById('g-recaptcha-response-v3');
            recapthca_v3.value = token;
            console.log("Token set: " + recapthca_v3.value);
            // Submit the form manually
            const contact_form = document.getElementById("contact-form")
            HTMLFormElement.prototype.submit.call(contact_form);
        });
    })
</script>
{% endblock %}