{% extends "1_base.html" %} {% block title %}Message Failed{% endblock %}

{% block content %}
<div>
    <h1 style="margin-left: 0; font-size: 2.0em;"><strong>Oh no the message failed!</strong></h1>
</div>
<div class="popup">
    <div class="face">😢</div>
    <div class="message">Sorry your message could not be sent!</div>
    <div class="message">There must be issues on the backend. We will try to resolve them soon!</div>
    <a href="/home" class="home-link" id="home">Back to Home</a>
</div>
{% endblock %}