<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{% block title %}Unauthorized{% endblock %}</title>
    </head>
    <body style="background-color: red; color: white; text-align: center; font-size: 3.0em;">
        <div>
            <h1><strong>Unauthorized!</strong></h1>
            <div>
                <p>Suspicous behavior detected...</p>
            </div>
        </div>
    </body>
</html>
